/*
    alignement du lien surprise
*/

footer > a {
  float: right;
  margin-right: 10px;
  text-decoration: none;
  color: red;
}

footer > a:hover {
  text-transform: uppercase;
  font-size: xx-large;
}
