/*
  importe la police d'écriture
*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(190, 119, 38);
}

h1 {
  font-size: 75px;
}

.menu {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

button {
  font-family: 'Press Start 2P', cursive;
  padding: 15px;
  box-sizing: border-box;
  background-color: grey;
  color: white;
  display: block;
  text-transform: uppercase;
  border-radius: 165px;
  width: 300px;
  bottom: 0;
}

a {
  text-decoration: none;
}

#mega:hover {
   text-decoration: underline;
   color: green;
}

#logo {
  display: flex;
  margin-right: auto;
  width: 20%;
}