/*
  importe la police d'écriture
*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  display: flex; 
  background-color: rgb(190, 119, 38);
  flex-direction: column;
}

button {
  display: block;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
  padding: 5px;
  block-size: auto;
  background-color: grey;
  color: white;
  display: block;
  text-transform: uppercase;
  border-radius: 165px;
  width: 150px;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
}

div {
  width: min-content;
}
#logo {
  width: 150px;
}