@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#game > button {
  font-family: 'Press Start 2P', cursive;
  padding: 10px;
  font-size: 10%;
  background-color: grey;
  color: white;
  display: block;
  text-transform: uppercase;
  border-radius: 165px;
  width: 150px;
  margin-bottom: 10px;
  }

#game > button:hover {
    color: grey;
    background-color: white;
}

#grille {
  margin-left: 18%;
}
  