/*
  importe la police d'écriture
*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  display: block; 
  background-color: rgb(190, 119, 38);
}

a {
  text-decoration: none;
}

#logo {
  width: 15%;
}