/*
  importe la police d'écriture du textes des boutons
*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/*
    alignement des boutons
*/

#menu {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
  
button {
    font-family: 'Press Start 2P', cursive;
    padding: 10px;
    background-color: grey;
    color: white;
    display: block;
    text-transform: uppercase;
    border-radius: 165px;
    width: 300px;
    margin-bottom: 30px;
}