
body {
  font-family: 'Press Start 2P', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(190, 119, 38);
}

h1 {
font-size: 75px;
}

div {
flex-direction: column;
height: 4vw;
}

button{
  padding: 10px;
  box-sizing: border-box;
  background-color: grey;
  color: white;
  display: block;
  text-transform: uppercase;
  border-radius: 165px;
  width: 175px;
}