.tab {
  display: flex;
}

.terre {
  background: url("terre.jfif");
  background-size: contain;
  width: 32px;
  height: 32px;
}

.rocher {
  background: url("Pierre.png");
  background-size: contain;
  width: 32px;
  height: 32px;
}

.diamant {
  background: url("Diamant.gif");
  background-size: contain;
  width: 32px;
  height: 32px;
}

.mur {
  background: url("mur.jfif");
  background-size: contain;
  width: 32px;
  height: 32px;
}

.vide {
  background-color: rgb(97, 97, 97);
  width: 32px;
  height: 32px;
}

.player {
  background: url("Player.gif");
  background-size: contain;
  width: 32px;
  height: 32px;
}